{% extends "_base.html" %}

{% block page_title %}Category List{% endblock page_title %}

{% block content %}
    <h1>Categories</h1>
    <button>
        <a href="{% url 'products:category_create' %}">Add New Category</a>
    </button>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Parent Category</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.parent }}</td>
                <td>
                    {% if category.image %}
                    <img src="{{ category.image.url }}" alt="{{ category.name }}" style="width: 50px; height: 50px;">
                    {% else %}
                    No Image
                    {% endif %}
                </td>
                <td>
                    <button>
                        <a href="{% url 'products:category_update' category.id %}">Edit</a>
                    </button>
                    <button>
                        <a href="{% url 'products:category_delete' category.id %}">Delete</a>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% endblock %}


