{% extends "_base.html" %}

{% block page_title %}Product List{% endblock page_title %}

{% block content %}
    <!-- Filter form-->
    <form action="" method="get">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Filter</button>
    </form>

    <button>
        <a href="{% url "products:product_create" %}">Add New Product</a>
    </button>
    <!-- Product list -->
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url "products:product_detail" product.id %}">{{ product.name }}</a>
                <a href="{% url "order:add_to_cart" product.id %}">buy</a>
            </li>
        {% endfor %}
    </ul>

    <!-- Pagination -->
    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page1">First</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if product.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}

            </span>
        </div>
    {% endif %}
{% endblock content %}

