{% extends "_base.html" %}

{% block page_title %}Product Details{% endblock page_title %}

{% block content %}
    <h1>{{ product.name }}</h1>
    <p>Category: {{ product.category }}</p>
    <p>Brand: {{ product.brand }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Product Price: {{ product.price }}</p>
    <p>Quantity: {{ product.quantity }}</p>
    <br>
    <br>
    <button type="submit">
        <a href="{% url "products:comment_list" product.id %}">Add Comment</a>
    </button>
{% endblock content %}