
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block page_title %}<title></title>{% endblock page_title %}
</head>
<body>

        
        <div>
            <form method="post">
                {% csrf_token %}
                <button><a href="{% url "accounts:signup" %}">Signup</a></button><br>
                <button><a href="{% url "accounts:login" %}">Login</a></button><br>
                <button><a href="{% url "accounts:logout" %}">Logout</a></button><br>
                <button><a href="{% url "accounts:otp_verification" %}">OTP Verification</a></button><br>
                <button><a href="{% url "accounts:profile" %}">Profile</a></button><br>
                <button><a href="{% url "accounts:profile_update" %}">Profile Update</a></button><br>
                <button><a href="{% url "accounts:password_update" %}">Password Update</a></button><br>
                <button><a href="{% url "accounts:address_list" %}">Address List</a></button><br>
                <button><a href="{% url "accounts:address_create" %}">Address 
                    Create</a></button><br>
                <button><a href="{% url "pages:home" %}">Home</a></button><br>
                <button><a href="{% url "pages:aboutus" %}">Aboutus</a></button><br>
                <button><a href="{% url "products:product_list" %}">Product List</a></button><br>
                <button><a href="{% url "products:product_create" %}">Product Create</a></button><br>
                <button><a href="{% url "orders:cart_summary" %}">Cart Summary</a></button><br>
                <button><a href="{% url "orders:cart_update" %}">Cart Update</a></button><br>
                <button type="submit"><a href="{% url "orders:create_order" %}">Create Order</a></button><br>
            </form>
        </div>
        {% for msg in messages %}

            {{ msg }}

        {% endfor %}
        {% block content %}{% endblock content %}
</body>
</html>